:       60
Xft.antialias: true
Xft.hinting:   true
Xft.rgba:      rgb
Xft.autohint:  true
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

URxvt*termName: rxvt-unicode-256color

XTerm*background:        #222D31
XTerm*foreground:        #d8d8d8
XTerm*pointerColor:      #1ABB9B
XTerm*faceName:          Fixed
XTerm*faceSize:          11
XTerm*reverseVideo:      on
XTerm*selectToClipboard: true

*background:                      #222D31
*foreground:                      #d8d8d8
*fading:                          8
*fadeColor:                       black
*cursorColor:                     #1ABB9B
*pointerColorBackground:          #2B2C2B
*pointerColorForeground:          #16A085

!! black dark/light
*color0:                          #2E3436
*color8:                          #555753

!! red dark/light
*color1:                          #EF2929
*color9:                          #EF2929

!! green dark/light
*color2:                          #4E9A06
*color10:                         #8AE234

!! yellow dark/light
*color3:                          #C4A000
*color11:                         #FCE94F

!! blue dark/light
*color4:                          #3465A4
*color12:                         #729FCF

!! magenta dark/light
*color5:                          #75507B
*color13:                         #AD7FA8

!! cyan dark/light
*color6:                          #06989A
*color14:                         #34E2E2

!! white dark/light
*color7:                          #EEEEEC
*color15:                         #EEEEEC

Xcursor.theme: xcursor-breeze
Xcursor.size:   10
